.productDetails {
    margin: 20px 0;
    width: 100%;
    min-height: 500px;
    display: flex;
    align-items: center;
    text-align: center;
    :global(.ant-card-body){
        width: 100% !important;
    }
}